@{
    ViewData["Title"] = "RiskEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <style>

    </style>
}

<h3>●風險事件提報 → 單一事件</h3>

<form>

</form>

@section Scripts{
    <script>

    </script>
}