
@*<footer class="app-footer">
    <div>
        <span>
            地址 : (22044)新北市板橋區文化路二段166號
        </span>
        <br />
        <span>
            總機 : (02)2252-1212
        </span>
    </div>
    <div class="ml-auto">
        <span>
            &copy; 2020新北市議會版權所有
        </span>
    </div>
</footer>*@
