@*@model BaseVo*@
<header class="app-header navbar" style=" background-size: cover; background-image: url(/image/B2.jpg);">
    <div class="row div-logo" style="background-color: rgba(255, 255, 255, 0); background-image: url(/image/logo5-FN.png);">
        <a class="div-logoMask" href="@Url.Action("Index","Home")"></a>
        <div class="row col">
            <div class="col">
                <partial name="_HeaderItemPartial.cshtml" />
            </div>
        </div>
    </div>
    <button class="navbar-toggler sidebar-toggler d-lg-none" type="button" data-toggle="sidebar-show"><span class="navbar-toggler-icon"></span></button>
    <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show"><span class="navbar-toggler-icon"></span></button>

    <partial name="_NavbarItemPartial.cshtml" model="Model" />
</header>