
@*@model BaseVo*@
<ul class="nav navbar-nav ml-auto">
    <li style="font-size:0.7rem">
        @*<span id="timer">時間載入中...</span>&nbsp;&nbsp;<span id="onlineCount">線上人數：&nbsp;&nbsp;人</span>*@
    </li>
</ul>

@*<script src="~/js/jquery.min.js"></script>
<script>
    $(document).ready(function() {

        $('#onlineCount').text('線上人數：' + GetPeopleCount() + '人');

    })

    var GetPeopleCount = function () {

        var peopleCount = " ";

        $.ajax({
            type: 'GET',
            url: '/Dashboard/GetOnlinePeopleCount',
            data: null,
            dataType: 'json',
            async: false,
            //beforeSend: function (xhr) {
            //    xhr.setRequestHeader("requestverificationtoken",
            //        $('input:hidden[name="__RequestVerificationToken"]').val());
            //},
            success: function(data) {
                peopleCount = data.peopleCount;
            },
            error: {
                //doSomething
            }
        });

        return peopleCount;
    }
</script>*@