/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


body {
    font-family: '·L³n¥¿¶ÂÅé'
}

.div-logoMask {
    width: 280px;
    height: 100px;
}

.div-location-wording {
    margin-top: 25px;
    font-size: 20px;
}

.ul-headerItem {
    float: right;
    margin-top: 0px;
}

.nav-a-color {
    color: #20a8d8;
}

.header-a-color {
    color: #000;
}

.dashboard-container {
    margin-top: 15px;
}

.RWDElement {
    color: #000;
    background: #dbf2e3;
}

    .RWDElement .nav-link {
        display: block;
        padding: 0.75rem 1rem;
        text-decoration: none;
        color: #000;
        background: #dbf2e3;
        border-bottom: solid 0.5px #f5f3f1;
    }

.headerImg {
    width: 70px;
    border-radius: 50%;
    border: 1px solid #b3b3b3
}

.dashboard-card-header {
    padding: 5px 15px;
    background-color: #476b6b;
    font-size: 1rem;
}

.height-Limit {
    height: 100px;
}

.aside-Background {
    background-color: #f5f3f1
}

.aside-Padding {
    padding: 15px;
}
